/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.Eyl.2014, 14:47:24
    Author     : TUGBA
*/
.textler{
    font-family: Arial;
    size: 20px;
}
